export default {
  'app.common.err.record.exist': 'The record already exists',
  'app.common.label.operation': 'Operation',
  'app.common.label.memo': 'Remarks',
  'app.common.label.columns-display-settings': 'Column Toggle',
  'app.common.label.select-all': 'Check All',
  'app.common.label.select-reversely': 'Inverse',
  'app.common.label.open-in-new-window': 'Open in a new window',
  'app.common.label.yes': 'Yes',
  'app.common.label.no': 'No',
  'app.common.bale.more': 'More',
  'app.common.validation.not-empty': 'Required items cannot be empty',

  'app.martin.site.filter.name': "$!{entity}'s Name",
  'app.martin.site.add-new-site': 'Add a new site',
  'app.martin.site.edit-the-site': 'Edit the site',
  'app.martin.site.edit-the-login-script': 'Edit login script',
  'app.martin.site.label.name': 'Name',
  'app.martin.site.label.short-name': 'Short Name',
  'app.martin.site.label.home-page': 'Home Page',
  'app.martin.site.label.timeout': 'Timeout(s)',
  'app.martin.site.label.charset': 'Charset',
  'app.martin.site.label.retry-times': 'Retry Times',
  'app.martin.site.label.cycle-retry-times': 'Cycle Retry Times',
  'app.martin.site.label.rate-limit': 'Rate Limit',
  'app.martin.site.label.cookies': 'Default Cookies',
  'app.martin.site.label.headers': 'Default Headers',
  'app.martin.site.label.no-limit': 'No Limit',
  'app.martin.site.placeholder.rate-limit':'The number of requests per second.An empty value or value of 0 means no limit',

};
