export default {
  'app.common.err.record.exist': '记录已存在',
  'app.common.label.operation': '操作',
  'app.common.label.memo': '备注',
  'app.common.label.columns-display-settings': '显隐',
  'app.common.label.select-all': '全选',
  'app.common.label.select-reversely': '反选',
  'app.common.label.open-in-new-window': '点击新窗口打开链接',
  'app.common.label.yes': '是',
  'app.common.label.no': '否',
  'app.common.bale.more': '更多',
  'app.common.validation.not-empty': '必填项不能为空',

  'app.martin.site.filter.name': '站点名称',
  'app.martin.site.add-new-site': '新增站点',
  'app.martin.site.edit-the-site': '编辑站点',
  'app.martin.site.edit-the-login-script': '登录脚本',
  'app.martin.site.label.name': '名称',
  'app.martin.site.label.short-name': '简称',
  'app.martin.site.label.home-page': '首页链接',
  'app.martin.site.label.timeout': '超时时间(s)',
  'app.martin.site.label.charset': '字符编码',
  'app.martin.site.label.retry-times': '重试次数',
  'app.martin.site.label.cycle-retry-times': '循环重试次数',
  'app.martin.site.label.rate-limit': '流量限制',
  'app.martin.site.label.cookies': '默认Cookies',
  'app.martin.site.label.headers': '默认Headers',
  'app.martin.site.label.no-limit': '无限制',
  'app.martin.site.placeholder.rate-limit': '请求次数/秒。为空或者0表示无限制',

};
