export default {
  'app.common.err.record.exist': '記錄已存在',
  'app.common.label.operation': '操作',
  'app.common.label.memo': '備註',
  'app.common.label.columns-display-settings': '顯隱',
  'app.common.label.select-all': '全選',
  'app.common.label.select-reversely': '反選',
  'app.common.label.open-in-new-window': '點擊新窗口打開鏈接',
  'app.common.label.yes': '是',
  'app.common.label.no': '否',
  'app.common.bale.more': '更多',
  'app.common.validation.not-empty': '必填項不能為空',

  'app.martin.$!{controllerMappingHyphen}.filter.name': '站點名稱',
  'app.martin.site.add-new-site': '新增站點',
  'app.martin.site.edit-the-site': '編輯站點',
  'app.martin.site.edit-the-login-script': '登錄腳本',
  'app.martin.site.label.name': '名稱',
  'app.martin.site.label.short-name': '簡稱',
  'app.martin.site.label.home-page': '首頁鏈接',
  'app.martin.site.label.timeout': '超時時間(s)',
  'app.martin.site.label.charset': '字符編碼',
  'app.martin.site.label.retry-times': '重試次數',
  'app.martin.site.label.cycle-retry-times': '循環重試次數',
  'app.martin.site.label.rate-limit': '流量限制',
  'app.martin.site.label.cookies': '默認Cookies',
  'app.martin.site.label.headers': '默認Headers',
  'app.martin.site.label.no-limit': '無限制',
  'app.martin.site.placeholder.rate-limit': '請求次數/秒。為空或者0表示無限制',

};
