import { Request, Response } from 'express';
import { addTableList, editTableList, getTableList, deleteTableList } from '../../../../mock/utils';
import { $!{entity}ListItem } from './model.ts';

//TODO 模拟数据
// mock tableListDataSource
const tableListDataSource: $!{entity}ListItem[] = [
  {
    id: '911527780227661826',
    homePage: 'https://www.jianshu.com/u/53671b43e905',
    logo: 'https://favicons.githubusercontent.com/jianshu.com',
    name: 'Jianshu（简书）',
    shortName: '',
    domain: 'www.jianshu.com',
    charset: 'utf8',
    retryTimes: 10,
    cycleRetryTimes: 20,
    defaultCookies: '',
    headers: '',
    userAgent: '',
    sleepTime: 500,
    timeOut: 100,
    loginJudgeExpression: "$.css('span')",
  },
];

function get$!{entity}s(req: Request, res: Response) {
  const params = req.query;

  let dataSource = [...tableListDataSource];
  if (params.name) {
    dataSource = dataSource.filter(x => x.name.indexOf(params.name) !== -1);
  }

  return getTableList(req, res, dataSource);
}

function delete$!{entity}s(req: Request, res: Response) {
  return deleteTableList(req, res, tableListDataSource);
}

function add$!{entity}(req: Request, res: Response) {
  return addTableList(req, res, tableListDataSource);
}

function edit$!{entity}(req: Request, res: Response) {
  return editTableList(req, res, tableListDataSource);
}

export default {
  'GET /api/crawler/sites': get$!{entity}s,
  'POST /api/crawler/sites': add$!{entity},
  'PUT /api/crawler/sites': edit$!{entity},
  'DELETE /api/crawler/sites': delete$!{entity}s,
};
