import React from "react";

export default[
## ----------  BEGIN 字段循环遍历  ----------
  #foreach($field in ${table.fields})
    #if("$!field.propertyName" != "id")
    {
      title: '$!{field.comment}',
      dataIndex: '$!{field.propertyName}',
      key: '$!{field.propertyName}',
      width: 150,
    },
    #end
  #end
]