import {Button, Col, DatePicker, Divider, Dropdown, Form, Icon, Input, Menu, message,} from 'antd';
import React, {Component, RefObject} from 'react';

import {Dispatch} from 'redux';
import {connect} from 'dva';

import {WrappedFormUtils} from 'antd/es/form/Form';
import {formatMessage, FormattedMessage} from 'umi-plugin-react/locale';

import {TablePage} from '@/components/Page';
import {StandardTableColumnProps} from '@/components/StandardTable';
import InlinePopconfirmBtn from '@/components/InlinePopconfirmBtn';
import {ModalForm} from '@/components/Form';


import {$!{entity}ListItem, $!{entity}StateType} from './model';
import {DownOutlined} from "@ant-design/icons/lib";
import Authorized from "@/utils/Authorized";

interface $!{entity}Props {
  dispatch: Dispatch<any>;
  loading: boolean;
  ${table.entityPath}: $!{entity}StateType;
}

interface $!{entity}State {
  selectedRows: $!{entity}ListItem[];
  showLoginScriptModal: boolean;
  currentRecord?: $!{entity}ListItem;
}

class $!{entity} extends Component<$!{entity}Props, $!{entity}State> {
  state: $!{entity}State = {
    selectedRows: [],
    showLoginScriptModal: false,
  };

  private pageRef: RefObject<TablePage<$!{entity}ListItem>> = React.createRef();

  geDropDownMenus = (record: $!{entity}ListItem) => (
    <Menu>
      <Menu.Item key="0">
        <Authorized authority={'$!{table.name}_edit'} noMatch={''}>
            <ModalForm
              title={formatMessage({id: 'app.${table.entityPath}.edit-the-${table.entityPath}'})}
              onSubmit={this.handleEdit}
              element={
                <a>
                  <Icon type="edit"/>
                  <FormattedMessage id="component.common.text.edit"/>
                </a>
              }
              formItems={this.modalFormItems}
              formValues={record}
            />
        </Authorized>
      </Menu.Item>
      <Menu.Item key="1">
          <Authorized authority={'$!{table.name}_del'} noMatch={''}>
                <InlinePopconfirmBtn onConfirm={() => this.onDeleteOne(record)}/>
          </Authorized>
      </Menu.Item>
      <Menu.Divider/>
    </Menu>
  );

  /**
   *
   *
   * @type {StandardTableColumnProps<$!{entity}ListItem>[]}
   * @memberof $!{entity}
   */
  columns: StandardTableColumnProps<$!{entity}ListItem>[] = [
#foreach($field in ${table.fields})
    #set($ignores = ["id","delFlag","tenantId"])
    #if(!$ignores.contains($!field.propertyName))
    {
      title: <FormattedMessage id="app.${table.entityPath}.label.$!{field.propertyName}"/>,
      dataIndex: '$!{field.propertyName}',
      sorter: true,
      width: 150,
    },
    #end
#end
    {
      title: <FormattedMessage id="app.common.label.operation"/>,
      align: 'center',
      key: 'operation',
      width: 100,
      fixed: 'right',
      render: (text: string, record: $!{entity}ListItem) => (
        <>
          <Divider type="vertical"/>
          <Dropdown overlay={this.geDropDownMenus(record)} trigger={['click']}>
            <a className="ant-dropdown-link" onClick={e => e.preventDefault()}>
              <DownOutlined/>
            </a>
          </Dropdown>
          <Divider type="vertical"/>
        </>
      ),
    },
  ];

  modalFormItems = () => [
    {
      key: 'id',
      label: 'id',
      name: 'id',
      itemRender: <Input type="hidden"/>,
      hidden: true,
    },
#foreach($field in ${table.fields})
    #set($ignores = ["id","delFlag","tenantId","createTime","updateTime","creator","updater"])
    #if(!$ignores.contains($!field.propertyName))
    {
      key: '$!{field.propertyName}',
      label: <FormattedMessage id="app.${table.entityPath}.label.$!{field.propertyName}"/>,
      name: '$!{field.propertyName}',
      itemRender: <Input placeholder="请输入$!{field.comment}"/>,
    },
    #end
#end
  ];

  //配置搜索项
  searchFormRender = (form: WrappedFormUtils) => {
    const {getFieldDecorator} = form;
    return (
      [
#foreach($field in ${table.fields})
    #set($ignores = ["id","delFlag","tenantId"])
    #if(!$ignores.contains($!field.propertyName))
         <Col md={12} sm={24}>
          <Form.Item label={<FormattedMessage id="app.${table.entityPath}.label.$!{field.propertyName}"/>}>
              #if($!{field.propertyName.indexOf("Time")}!=-1)
              {getFieldDecorator('$!{field.propertyName}')(<DatePicker showToday format="YYYY-MM-DD" />)}
              #else
            {getFieldDecorator('$!{field.propertyName}')(<Input placeholder="请输入$!{field.comment}"/>)}
            #end
          </Form.Item>
        </Col>,
    #end
#end

      ]
    );
  };

  showModal = (currentRecord: $!{entity}ListItem) => {
    this.setState({showLoginScriptModal: true, currentRecord});
  };

  /**
   * 删除回调函数
   * @param ids
   */
  onDeleteOne = (${table.entityPath}: $!{entity}ListItem) => {
    const {dispatch} = this.props;
    const that = this;
    dispatch({
      type: '${cfg.moduleName}_${table.entityPath}/delete',
      payload: ${table.entityPath}

    })
    // @ts-ignore
      .then((response: any) => {
        if (response && response.code === 200) {
          if (that.pageRef.current) {
            that.pageRef.current.doSearch();
          }
          message.success(formatMessage({id: 'component.common.text.deleted-success'}));
        } else {
          message.error(response.msg);
        }
      })
  };

  batchDelete = (ids: number[]) => {
    const {dispatch} = this.props;

    if (!ids) return;
    const that = this;

    dispatch({
      type: '${cfg.moduleName}_${table.entityPath}/deleteBatch',
      payload: ids.join(','),

    })
    // @ts-ignore
      .then((response: any) => {
        if (response && response.code === 200) {
          if (that.pageRef.current) {
            that.pageRef.current.doSearch();
          }
          message.success(formatMessage({id: 'component.common.text.deleted-success'}));
        } else {
          message.error(response.msg);
        }
      })
  };

  handleAdd = (fields: any) => this.handleAddOrEdit('${cfg.moduleName}_${table.entityPath}/add', fields);

  handleEdit = (fields: any) => this.handleAddOrEdit('${cfg.moduleName}_${table.entityPath}/update', fields);

  handleAddOrEdit = (type: string, fields: any) => {
    const {dispatch} = this.props;
    const that = this;
    return dispatch({
      type,
      payload: fields,
      // @ts-ignore
    }).then((response) => {
      if (response && response.code === 200) {
        if (that.pageRef.current) {
          that.pageRef.current.doSearch();
        }
        message.success(
          formatMessage({
            id: `component.common.text.${(type.indexOf('add') !== -1 && 'add') || 'edit'}-success`,
          }),
        );
      } else {
        message.error(response.msg);
      }
    });
  };

  handleSelectRows = (rows: $!{entity}ListItem[]) => {
    this.setState({
      selectedRows: rows,
    });
  };


  //配置操作项
  operatorRender = () => (
    [
        <Authorized authority={'$!{table.name}_add'} noMatch={''}>
          <ModalForm
            title={formatMessage({id: 'app.$!{table.entityPath}.add-new-$!{table.entityPath}'})}
            onSubmit={this.handleAdd}
            element={
                  <Button type="primary" icon="plus">
                    <FormattedMessage id="component.common.text.add"/>
                  </Button>
            }
            formItems={this.modalFormItems}
          />,
        </Authorized>
    ]

  );

  render() {
    const {
      dispatch,
      loading,
      // @ts-ignore
      ${cfg.moduleName}_${table.entityPath}: {data},
    } = this.props;
    const {selectedRows} = this.state;

    return (
      <TablePage<$!{entity}ListItem>
        ref={this.pageRef}
        title={formatMessage({id: 'app.${table.entityPath}'})}
        action="${cfg.moduleName}_${table.entityPath}/page"
        columns={this.columns}
        data={data}
        loading={loading}
        searchFormRender={this.searchFormRender}
        operatorRender={this.operatorRender}
        selectedRows={selectedRows}
        handleSelectRows={this.handleSelectRows}
        onDelete={(rows: $!{entity}ListItem[]) => this.batchDelete(rows.map(row => row.id))}
        deleteBatchAuth={'$!{table.name}_deleteBatch'}
        dispatch={dispatch}
      />
    );
  }
}

export default connect(
  ({
     ${cfg.moduleName}_${table.entityPath},
     loading,
   }: {
    ${cfg.moduleName}_${table.entityPath}: $!{entity}StateType;
    loading: {
      models: {
        [key: string]: boolean;
      };
    };
  }) => ({
    ${cfg.moduleName}_${table.entityPath},
    loading: loading.models.${cfg.moduleName}_${table.entityPath},
  }),
)($!{entity});
