import { AnyAction, Reducer } from 'redux';
import { EffectsCommandMap } from 'dva';
import { isEmpty, isNumber } from 'lodash';

import { TableListItem } from '@/components/StandardTable';
import { TableListData } from '@/components/Page/TablePage';

import { query as query$!{entity}s, remove$!{entity}s, add$!{entity}, edit$!{entity} } from './service.ts';


//TODO 生成所有列的定义
export interface $!{entity}ListItem extends TableListItem {
  id: string;
  logo: string;
  name: string;
  shortName: string;
  homePage: string;
  domain: string;
  charset: string;
  retryTimes: number;
  cycleRetryTimes: number;
  defaultCookies: string;
  headers: string;
  userAgent: string;
  sleepTime: number;
  timeOut: number;
  loginJudgeExpression?: string;
}

export interface $!{entity}StateType {
  data: TableListData<$!{entity}ListItem>;
}

export type Effect = (
  action: AnyAction,
  effects: EffectsCommandMap & { select: <T>(func: (state: $!{entity}StateType) => T) => T },
) => void;

export interface $!{entity}ModelType {
  namespace: string;
  state: $!{entity}StateType;
  effects: {
    fetch: Effect;
    create: Effect;
    remove: Effect;
    modify: Effect;
  };
  reducers: {
    save: Reducer<$!{entity}StateType>;
    add: Reducer<$!{entity}StateType>;
    edit: Reducer<$!{entity}StateType>;
    del: Reducer<$!{entity}StateType>;
  };
}
const $!{entity}Model: $!{entity}ModelType = {
  namespace: 'site',

  state: {
    data: {
      list: [],
      pagination: {},
    },
  },

  effects: {
    *fetch({ payload }, { call, put }) {
      const response = yield call(query$!{entity}s, payload);
      yield put({
        type: 'save',
        payload: response.data,
      });
    },
    *create({ payload }, { call, put }) {
      const response = yield call(add$!{entity}, payload);
      yield put({
        type: 'add',
        payload: response.data,
      });
    },
    *modify({ payload }, { call, put }) {
      try {
        const response = yield call(edit$!{entity}, payload);
        yield put({
          type: 'edit',
          payload: response.data,
        });
      } catch (e) {
        throw e;
      }
    },
    *remove({ payload }, { call, put }) {
      yield call(remove$!{entity}s, payload);
      yield put({
        type: 'del',
        payload,
      });
    },
  },

  reducers: {
    del(
      state = {
        data: {
          list: [],
          pagination: {},
        },
      },
      action,
    ) {
      const { ids } = action.payload;
      const { list, pagination } = state.data;
      const newList = list.filter(item => ids.indexOf(item.id) === -1);
      if (typeof pagination === 'object' && !isEmpty(pagination) && isNumber(pagination.total)) {
        pagination.total -= list.length - newList.length;
      }
      return {
        ...state,
        data: {
          ...state.data,
          list: newList,
          pagination,
        },
      };
    },

    add(
      state = {
        data: {
          list: [],
          pagination: {},
        },
      },
      action,
    ) {
      const { list, pagination } = state.data;
      const newList = list;
      newList.unshift(action.payload);
      if (typeof pagination === 'object' && !isEmpty(pagination) && isNumber(pagination.total)) {
        pagination.total += 1;
      }
      return {
        ...state,
        data: {
          ...state.data,
          list: newList,
          pagination,
        },
      };
    },

    edit(
      state = {
        data: {
          list: [],
          pagination: {},
        },
      },
      action,
    ) {
      const { list } = state.data;
      const record = action.payload;
      return {
        ...state,
        data: {
          ...state.data,
          list: list.map(r => (r.id === record.id ? record : r)),
        },
      };
    },

    save(state, action) {
      return {
        ...state,
        data: action.payload,
      };
    },
  },
};

export default $!{entity}Model;
