import React, {Component} from 'react';
import MartinCRUD from "@/components/MartinCRUD";
import columns from './$!{entity}Columns';

class $!{entity}  extends Component {

  render() {
    return <MartinCRUD
      columns={columns}
      modalPath='$!{package.ModuleName.substring(0,1).toUpperCase()}$!{package.ModuleName.substring(1)}/$!{entity}/$!{entity}Modal'
      title='$!{table.comment}'
      content=''
      url='/$!{package.ModuleName}/$!{controllerMappingHyphen}/'
    />;
  }
}

export default $!{entity} ;
