<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java2e.martin.biz.system.mapper.PrivilegeMapper">
    <delete id="deleteOldMenus">
        delete sp.*
        from sys_privilege sp
         inner join sys_dict sd on sp.dict_id = sd.id and sd.type = 'flag_resource_status' and sd.value = '1'
         inner join sys_menu sm on sp.resource_id = sm.id
         inner join sys_role sr on sp.role_id = sr.id and sr.id = #{roleId}
    </delete>
    <delete id="deleteOldOperations">
        delete sp.*
        from sys_privilege sp
         inner join sys_dict sd on sp.dict_id = sd.id and sd.type = 'flag_resource_status' and sd.value = '2'
         inner join sys_operation so on sp.resource_id = so.id
         inner join sys_role sr on sp.role_id = sr.id and sr.id = #{roleId}
    </delete>
    <insert id="saveCheckedMenus">
        <selectKey keyProperty="dict_id" resultType="java.lang.Integer" order="BEFORE">select sd.id from sys_dict sd
            where sd.type = 'flag_resource_status' and sd.value = '1'
        </selectKey>
        <if test="checkedKeys!=null and checkedKeys.size()>0">
            INSERT INTO sys_privilege ( type,role_id, resource_id, dict_id)
            values
            <foreach collection="checked" item="item" index="index" open="" close="" separator=",">
                (1,#{roleId},#{item},#{dict_id})
            </foreach>
        </if>

    </insert>
    <insert id="saveCheckedOperations">
        <selectKey keyProperty="dict_id" resultType="java.lang.Integer" order="BEFORE">select sd.id from sys_dict sd
            where sd.type = 'flag_resource_status' and sd.value = '2'
        </selectKey>
        <if test="checkedKeys!=null and checkedKeys.size()>0">
            INSERT INTO sys_privilege ( type,role_id, resource_id, dict_id)
            values
            <foreach collection="checkedKeys" item="item" index="index" open="" close="" separator=",">
                (1,#{roleId},#{item},#{dict_id})
            </foreach>
        </if>

    </insert>
    <select id="getPrivilegeByRoles" resultType="java.lang.String">
        SELECT sm.authority
        FROM sys_privilege sp
        INNER JOIN sys_role sr ON sp.role_id = sr.id
        INNER JOIN sys_dict sd on sp.dict_id = sd.id and sd.type = 'flag_resource_status' and sd.value = '1'
        INNER JOIN sys_menu sm on sp.resource_id = sm.id
        WHERE sr.id IN
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item.roleId}
        </foreach>
        UNION
        SELECT so.authority
        FROM sys_privilege sp
        INNER JOIN sys_role sr ON sp.role_id = sr.id
        INNER JOIN sys_dict sd on sp.dict_id = sd.id and sd.type = 'flag_resource_status' and sd.value = '2'
        INNER JOIN sys_operation so on sp.resource_id = so.id
        WHERE sr.id IN
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item.roleId}
        </foreach>
        UNION
        SELECT sf.authority
        FROM sys_privilege sp
        INNER JOIN sys_role sr ON sp.role_id = sr.id
        INNER JOIN sys_dict sd on sp.dict_id = sd.id and sd.type = 'flag_resource_status' and sd.value = '3'
        LEFT JOIN sys_file sf on sp.resource_id = sf.id
        WHERE sr.id IN
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item.roleId}
        </foreach>
        UNION
        SELECT se.authority
        FROM sys_privilege sp
        INNER JOIN sys_role sr ON sp.role_id = sr.id
        INNER JOIN sys_dict sd on sp.dict_id = sd.id and sd.type = 'flag_resource_status' and sd.value = '4'
        LEFT JOIN sys_element se on sp.resource_id = se.id
        WHERE sr.id IN
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item.roleId}
        </foreach>
    </select>
</mapper>
